body {
    background-image: url("./assets/star_background2.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

a {
    color: #272727;
}

a:hover {
    color: #000000;
}

.hdrImg {
    background-color: #00d9ff7c;
    background-image: url("./assets/cubes.png");
}

.hdrTxt {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 2%;
}

#name {
    font-family: 'Courgette', cursive;
    font-size: 80px;
}

.my_shadow {
    box-shadow: 25px 25px 15px black;
}

#Abt {
    margin: 5%
}

.sidebar img {
    width: 80%;
    border-radius: 50%;
    margin-top: 10%;
    /* margin-left: 20%; */
    box-shadow: 25px 25px 15px black;
}

.jumbotron {
    background-image: url("./assets/cubes.png");
    background-color: #00d9ffc0;
    box-shadow: 0px 0px 25px #00d9ff;
}

.icons:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

.icons {
    color: black;
    text-decoration: none;
}

.projects {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.proHdr {
    background-image: url("./assets/cubes.png");
    background-color: #ff3c00c0;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 0px 25px #ff3c00;
}

.list {
    text-align: center;
    list-style-type: none;
    padding-left: 0%;
}

.item {
    text-align: center;
    display: flex;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px #00d9ff;
}

.imgbox {
    width: 200px;
    height: 200px;
    /* border-radius: 80px 0 0 80px; */
}

#project1 {
    background: url("./assets/css_creature.png");
    background-size: cover;
}

#project2 {
    background: url("./assets/pbc.png");
    background-size: cover;
}

#project3 {
    background: url("./assets/spacelaunch.jpg");
    background-size: cover;
}

#project4 {
    background: url("./assets/zenofpython.jpg");
    background-size: cover;
}

#project5 {
    background: url("./assets/yourwill.jpg");
    background-size: cover;
}

.description {
    background-image: url("./assets/cubes.png");
    background-color: #00d9ffc0;
    width: 100%;
}

.card {
    background-image: url("./assets/cubes.png");
    background-color: #00d9ff7c;
    border-color: #888888;
    border-width: 1px;
}

.card-header {
    background-color: #00d9ffa6;
}

.nav-tabs .nav-link {
    background-color: #00000044;
    margin: 0px 1px 1px;
}

.nav-tabs .nav-link:hover {
    border-color: #000000 #000000 #00000000;
}

.btn {
    border-color: #575757;
    background-color: #222222;
}